.currentCard {
    @include card-style;
    height: 400px;
    @include center;
    flex-direction: column;
    div{
        padding: 15px;
        p {
            @include center;
        }
    };
    .spinnerTemp {
        @include center
    }
}