.forecastCard {
    @include card-style;
    min-height: 400px;
    flex-direction: column;
    div{
        padding: 15px;

        p {
            @include center;
        }
    }
    .spinnerTemp{
        @include center
    }

    .title {
        background-color: $transparent-blue;
        height: 40px;
        padding: 15px;
    }

    .body {
        @include center;
        flex-direction: column;
        margin-top: 40px;
        
    }
    .bodyTomorrow {
        display: flex;
        flex-direction: row;

        .forecastItems {
            margin: 30px 20px;
            flex-grow: 1;
        }

    }
    
}