.searchBar {
    @include center;
    flex-direction: column;
    padding-top: 40px;
    form  {
        border: 1px solid black;
        border-radius: 5px;
        background-color: $transparent-white;
        margin-right: 10px;  
    }
   
    input {
        padding: 10px;
        text-align: center;
        border: none;
        background-color: transparent;
        &:focus {
            outline: none;
        }
    }
    button {
        border: none;
        background-color: transparent;
        padding: 10px;
        cursor: pointer;
    }
    .flex {
        @include center
    }
}